@import url('/css/reset.min.css');
@import url('/assets/fonts/fonts.css');

html {
    font-family: 'Lato', 'Tahoma', sans-serif;
    font-size: 10px;
    color: rgba(90, 90, 127, 1);
    scroll-behavior: smooth;
}
.colortext {
    color: rgba(237, 255, 126, 1);
}
.header {
    background-color: black;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
}
.header__logo-icon {
    color: white;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}
.header__navigation {
    width: 100%;
    max-width: 750px;
}
.header__list {
    display: flex;
    justify-content: space-around;
    color: white;
    font-weight: 700;
    font-size: 12px;
    line-height: 14.4px;
}
.header__list-item {
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.header__list-item + .header__list-item::before {
    content: '';
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    background-color: white;
    margin: 0 40px;
}
.link:visited {
}

.link:focus {
    outline: none;
}

.link:hover {
    color: rgba(237, 255, 126, 1);
}

.link:active {
    color: rgba(112, 103, 207, 1);
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(112, 103, 207, 1);
    padding: 20px 40px;
}
.main__content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__content-img {
   
}
.arrow {
    width: 32px;
}


.content{
    padding: 60px 0 30px 0;
}
.content__text {
    padding: 20px 40px;
}
.content__text-title {
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: black;
    
}
.content__text-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: rgba(90, 90, 127, 1);
    margin-top: 20px;
}


.card {
    padding: 20px;
    gap: 20px;
    display: flex;
}
.card__text-title{
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    color: rgba(90, 90, 127, 1);
}
.card__text-description{
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    color: rgba(90, 90, 127, 1);
    margin-top: 12px;
}
.cards{
    padding: 0px 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
        &-design{
            grid-area: 1 / 1 / 2 / 2;
        }
        &-ideas{
            grid-area: 1 / 2 / 2 / 3;
        }
        &-love{
            grid-area: 1 / 3 / 2 / 4;
        }
        &-layout{
            grid-area: 2 / 1 / 3 / 2;
        }
        &-support{
            grid-area: 2 / 2 / 3 / 3;
        }
        &-Support{
            grid-area: 2 / 3 / 3 / 4;
        }
}